#buttons, #gifs, #search {
    color: white;
}

#buttons {

}

#gifs {
    background-color: red;
}

#search {
    background-color: green;
}

.fruit-button {
    margin: 3px;
}

.fruit-pic {
    margin: 20px 10px 10px 5px;
}