body {
    background: #f2f2f2;
}

#buttons {
    color: white;
}

.content {
    margin-top: 20px;
}

#topic-text {
    font-weight: bold;
}

#gifs {
}

#search {
}

.food-button {
    margin: 3px;
}

.food-pic {
    margin: 20px 10px 10px 5px;
}